body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
button {
  font-family: inherit;
  cursor: pointer;
}
