* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a,
button {
  font-family: inherit;
}

input,
button {
  outline: unset;
  cursor: pointer;
  background: transparent;
  outline: unset;
  border: unset;
}

header {
  background-color: #43281c;
  color: #fbf2c0;
  width: 100%;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.header__logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.header__title {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 500;
}
